apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
spec:
  selector:
    matchLabels:
      app: producer
      tier: backend
      track: stable
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
        maxSurge: 0
        maxUnavailable: 1
  template:
    metadata:
      labels:
        app: producer
        tier: backend
        track: stable
    spec:
      nodeSelector:
        cloud.google.com/gke-preemptible: "true"
      containers:
      - name: producer
        image: gcr.io/fiuba-rpl-2/rpl-2.0:latest
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "producer,prod"
        - name: RPL_URL_FRONTEND
          value: http://www.rpl.codes
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: secret
        - name: JWT_EXPIRATION_MS
          value: "43200000" # 12 hours
        - name: QUEUE_SERVICE_HOST
          value: queue
        - name: MYSQL_SERVICE_HOST
          valueFrom:
            secretKeyRef:
              name: db-host
              key: host
        - name: MYSQL_SERVICE_PORT
          value: "3306"
        - name: MYSQL_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-username
              key: username
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-password
              key: password
        - name: MYSQL_DB_NAME
          valueFrom:
            secretKeyRef:
              name: db-name
              key: name
        - name: RPL_HELP_EMAIL_ADDRESS
          valueFrom:
            secretKeyRef:
              name: rpl-help-email
              key: email
        - name: RPL_HELP_EMAIL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rpl-help-password
              key: password
        ports:
          - name: http
            containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 60
          periodSeconds: 60
          httpGet:
            path: /api/health
            port: 8080
        livenessProbe:
          initialDelaySeconds: 60
          periodSeconds: 60
          failureThreshold: 3
          httpGet:
            path: /api/health
            port: 8080
        resources:
          requests:
            cpu: 20m
            memory: 512Mi
          limits:
            memory: 700Mi